@{
    ViewData["Title"] = "Home Page";
}
<style>
    *{
        margin:10px;
        font-family: sans-serif;
        font-size: 20px;
        padding:5px;
    }
    div{
        border-radius: 5px;
        border-width: 1px;
        /* border-style: solid; */
        width: max-content;
        box-shadow: 0 0 10px ;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    button{
        color: white;
        background-color: darkolivegreen;
        padding:10px;
        border-radius: 5px;
        border-width: 1px;
    }
</style>

<form id="addFile" asp-controller="Home" asp-action="UploadFile" enctype="multipart/form-data">   
    <label>загрузить файл: </label>
    <input type="file" name="file" />
    <button type="submit">ЗАГРУЗИТЬ</button>
</form>

<label> искать площадки по региону: </label>
<input id="location" type="text" name="name" value="" />
<button onclick="searchPlatformsByLocation()">ИСКАТЬ</button>
<div>
    <label>в регионе работают площадки:</label>
    <ul id="locationsList">  </ul>
</div>

<script>
    document.getElementById("addFile").addEventListener("submit", async function (event) {
        event.preventDefault(); 

        let form = event.target;
        let formData = new FormData(form);
        let response = await fetch("/Home/UploadFile", {
            method: "POST",
            body: formData
        });

        let result = await response.json(); 
        alert(result.message); 
    });

    async function searchPlatformsByLocation(){
        let location = document.querySelector('#location').value;
        let platformList = document.querySelector('#locationsList');
        platformList.innerHTML = "";
        let response = await fetch(`/Home/FindPlatforms?location=${location}`, {
            method: "GET"
        });

       let platforms =await response.json();
        console.log(platforms);

        for (var p in platforms) {
            let li = document.createElement("li");
            li.textContent = platforms[p];
            platformList.appendChild(li);
        }
    }
</script>

